<% params[:menu_id] %>
<!-- product-area start -->
<div class="breadcrumbs-area ptb-10 bg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="woocommerce-breadcrumb mtb-15">
                    <div class="menu">
                        <ul>
                            <li><a href="<%= erp_locyen.root_path %>">Trang chủ</a></li>
                            <li class="active"><a href="javascript:void(0);"><%= @menu.name %></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line-bg-gradient to-left"></div>

<div class="shop-area ptb-50">
    <div class="container">
        <div class="row">
            <!-- product-vew area start -->
            <div class="col-xl-12 col-lg-12">
                <div class="tab-area shop-tab-area">
                    <div class="tab-menu-area border-bottom mb-30">
                        <div class="row">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <div class="shop-taitle">
                                    <h2 class="text-capitalize"><%= @menu.name %></h2>
                                </div>
                            </div>
                            <div class=" col-md-5 col-sm-6 hidden-xs">
                                <div class="woocommerce-ordering text-right">
                                    <strong>Sắp xếp </strong>
                                    <select name="orderby">
                                        <option value="name" selected="selected">Tên (A-Z)</option>
                                        <option value="price">Giá (Thấp-Cao)</option>
                                    </select>
                                    <a href="#"><i class="fa fa-arrow-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% @products.each do |product| %>
                            <% product_images = product.product_images %>
                            <div class="col-xl-4 col-md-6 col-sm-6">
                                <div class="single-product mb-30 wow zoomIn" data-wow-delay="0.3s">
                                    <div class="product-img">
                                        <%= link_to image_tag(
                                            product_images.first.image_url.large,
                                            title: product.product_name,
                                            alt: product.product_name),
                                            product_link(product),
                                            title: product.product_name
                                        %>
                                        <!-- <span class="sale">Khuyến mãi</span> -->
                                        <!-- <span class="new">New</span> -->
                                        <div class="product-info-overlay-area clear pt-35">
                                            <div class="add-to-cart text-uppercase mr-2">
                                                <button><i class="fa fa-cart-plus"></i> mua hàng</button>
                                            </div>
                                            <%= link_to '<i class="fa fa-eye"></i> xem chi tiết'.html_safe, product_link(product), class: 'locyen-btn ml-2' %>
                                        </div>
                                    </div>
                                    <div class="product-item-details text-center">
                                        <div class="product-name-review tab-product-name-review">
                                            <div class="product-name mt-30 ">
                                                <span><%= product.category_name %></span>
                                                <strong>
                                                    <%= link_to product.name, product_link(product) %>
                                                </strong>
                                            </div>
                                            <div class="product-review">
                                                <!-- <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul> -->
                                                <span class="special-price"><%= format_price(product.price) %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="woocommerce-pagination-area pb-40 fix">
                            <div class="woocommerce-pagination pull-left">
                                <ul>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                            <div class="woocommerce-ordering pull-right">
                                <strong>Hiển thị</strong>
                                <select name="orderby">
                                    <option value="menu_order" selected="selected">9</option>
                                    <option value="popularity">15</option>
                                    <option value="rating">30</option>
                                    <option value="rating">60</option>
                                </select>
                                <span> sản phẩm/trang</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>