<div class="">
    <table class="table table-advance table-hover table-striped table-checkable order-column" id="">
        <thead>
            <tr>
                <th width='1%'>
                    <%= erp_datalist_check_all %>
                </th>
                <% if get_columns(params).include?("code") %>
                    <th>
                        <%= t('.code') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("brand") %>
                    <th>
                        <%= t('.brand') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <th class="sortable" sort-by='erp_products_products.name'>
                        <%= t('.name') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("category") %>
                    <th>
                        <%= t('.category') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("price") %>
                    <th>
                        <%= t('.price') %>
                    </th>
                <% end %>                
                <% if get_columns(params).include?("status") %>
                    <th>
                        <%= t('status') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <th>
                        <%= t('creator') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <th class="sortable" sort-by='erp_products_products.created_at'>
                        <%= t('created_at') %>
                    </th>
                <% end %>
                <th width="7%" class="sortable text-nowrap" sort-by='erp_products_products.custom_order'>
                    <%= 'Sắp xếp' %>
                </th>
                <th width="7%"><%= t('actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
                <tr class="odd gradeX">
                    <td>
                        <%= erp_datalist_check_row(id: product.id) %>
                    </td>
                    <% if get_columns(params).include?("code") %>
                        <td><%= product.code %></td>
                    <% end %>
                    <% if get_columns(params).include?("brand") %>
                        <td><%= product.brand_name %></td>
                    <% end %>
                    <% if get_columns(params).include?("name") %>
                        <td>
                            <%= link_to product.name, erp_products.edit_backend_product_path(product) %><br>
                            <% if product.gifts.count > 0 %>
                                Tặng kèm:
                                <% product.gifts.each do |gift| %>
                                    <br><em><%= link_to gift.product_name, erp_products.edit_backend_product_path(gift), title: gift.product_name %></em>
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                    <% if get_columns(params).include?("category") %>
                        <td><%= product.category_name %></td>
                    <% end %>
                    <% if get_columns(params).include?("price") %>
                        <td><%= format_price(product.price) %></td>
                    <% end %>
                    <% if get_columns(params).include?("status") %>
                    <td>
                        <% if false %>
                        <br><span class="label label-sm label-info"><%= t('is_published') %></span>
                        <% end %>
                        <% if product.is_new? %>
                        <br /><span class="label label-sm label-success"><%= t('.new') %></span>
                        <% end %>
                        <% if product.is_bestseller? %>
                        <br><span class="label label-sm label-orange"><%= t('.bestseller') %></span>
                        <% end %>
                        <% if product.is_call? %>
                        <br><span class="label label-sm label-orange"><%= t('.is_call') %></span>
                        <% end %>
                        <% if product.meta_keywords.present? && product.meta_description.present? %>
                            <br><span class="label label-sm label-danger"><%= t('.seo_success') %> <%= product.count_keywords_arr %> từ khóa</span>
                        <% end %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("creator") %>
                        <td>
                            <%= erp_component('avatar', {
                                user: product.creator
                            }) %>
                        </td>
                    <% end %>
                    <% if get_columns(params).include?("created_at") %>
                        <td><%= product.created_at.strftime("%d/%m/%Y") %></td>
                    <% end %>
                    <td class="text-center text-semibold">
                        <%= erp_datalist_order_column({
                            item: product,
                            move_up_url: erp_products.move_up_backend_products_path(id: product),
                            move_down_url: erp_products.move_down_backend_products_path(id: product),
                            sort_by: 'erp_products_products.custom_order'
                        }) %>
                    </td>
                    <td class="text-right">
                        <!-- {
                            text: '<i class="fa fa-check-square-o"></i> '+t('.check_is_published'),
                            url: erp_products.check_is_published_backend_products_path(id: product),
                            data_method: 'PUT',
                            hide: product.published,
                            class: 'ajax-link',
                            data_confirm: t('.check_is_published_confirm')
                        },
                        {
                            text: '<i class="fa fa-square-o"></i> '+t('.uncheck_is_published'),
                            url: erp_products.uncheck_is_published_backend_products_path(id: product),
                            data_method: 'PUT',
                            hide: !product.published,
                            class: 'ajax-link',
                            data_confirm: t('.uncheck_is_published_confirm')
                        }, -->
                        <%= erp_datalist_row_actions(
                            [
                                {
                                    text: '<i class="fa fa-edit"></i> '+t('edit'),
                                    href: erp_products.edit_backend_product_path(product)
                                },
                                {
                                    text: '<i class="fa fa-check-square-o"></i> '+t('.check_is_new'),
                                    url: erp_products.check_is_new_backend_products_path(id: product),
                                    data_method: 'PUT',
                                    hide: product.is_new,
                                    class: 'ajax-link',
                                    data_confirm: t('.check_is_new_confirm')
                                },
                                {
                                    text: '<i class="fa fa-square-o"></i> '+t('.uncheck_is_new'),
                                    url: erp_products.uncheck_is_new_backend_products_path(id: product),
                                    data_method: 'PUT',
                                    hide: !product.is_new,
                                    class: 'ajax-link',
                                    data_confirm: t('.uncheck_is_new_confirm')
                                },
                                {
                                    text: '<i class="fa fa-check-square-o"></i> '+t('.check_is_bestseller'),
                                    url: erp_products.check_is_bestseller_backend_products_path(id: product),
                                    data_method: 'PUT',
                                    hide: product.is_bestseller,
                                    class: 'ajax-link',
                                    data_confirm: t('.check_is_bestseller_confirm')
                                },
                                {
                                    text: '<i class="fa fa-square-o"></i> '+t('.uncheck_is_bestseller'),
                                    url: erp_products.uncheck_is_bestseller_backend_products_path(id: product),
                                    data_method: 'PUT',
                                    hide: !product.is_bestseller,
                                    class: 'ajax-link',
                                    data_confirm: t('.uncheck_is_bestseller_confirm')
                                },
                                {
                                    text: '<i class="fa fa-plus"></i> '+t('.check_is_call'),
                                    url: erp_products.check_is_call_backend_products_path(id: product),
                                    data_method: 'PUT',
                                    hide: product.is_call,
                                    class: 'ajax-link',
                                    data_confirm: t('.check_is_call_confirm')
                                },
                                {
                                    text: '<i class="fa fa-remove"></i> '+t('.uncheck_is_call'),
                                    url: erp_products.uncheck_is_call_backend_products_path(id: product),
                                    data_method: 'PUT',
                                    hide: !product.is_call,
                                    class: 'ajax-link',
                                    data_confirm: t('.uncheck_is_call_confirm')
                                },
                            ]
                        ) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @products.empty? %>
        <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
    <% end %>
</div>

<%= erp_datalist_pagination(@products) %>
