<% if about.present? %>
<!-- About area start -->
<div class="about-area about-bg">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="about-img mb-30 wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="about-img-3D">
                        <img src="<%= about.image %>" alt="<%= about.name %>">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="about-content text-justify mb-30 wow fadeInRight" data-wow-delay="0.5s">
                    <div class="about-title mb-20">
                        <h2 class="bg-gold-text"><%= about.name %></h2>
                    </div>
                    <%= about.content.html_safe %>
                    <div class="locyen-btn new-arrivals-btn mt-35">
                        <a href="<%= erp_locyen.about_us_path %>">Hiểu thêm về chúng tôi <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About area end -->
<% end %>