<!-- tab area start  -->
<div class="tab-area mtb-100 mb-30">
    <div class="container">
        <div class="row wow fadeInDown" data-wow-delay="0.5s">
            <div class="col-12">
                <div class="tab-menu  text-center mb-30">
                    <ul class="nav">
                        <% categories.each_with_index do |category,index| %>
                            <li>
                                <a class="<%= 'active' if index == 0 %>" href="#new-products-<%= index %>" data-toggle="tab">
                                    <%= category.name %>
                                </a>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <% categories.each_with_index do |menu,index| %>
                <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="new-products-<%= index %>">
                    <div class="tab-active owl-carousel next-prev-style">
                        <% products = menu.get_products_for_categories(is_new: true) %>
                        
                        <% products.each_with_index do |product,index| %>
                            <% product_images = product.product_images %>
                            <div class="single-product wow <%= index % 2 == 0 ? 'fadeInDown' : 'fadeInUp' %>" data-wow-delay="0.9s">
                                <div class="product-img">
                                    <%= link_to image_tag(
                                        product_images.first.image_url.large,
                                        title: product.product_name,
                                        alt: product.product_name),
                                        product_link(product),
                                        title: product.product_name
                                    %>
                                    <!-- <span class="sale">Sale</span> -->
                                    <div class="product-info-overlay-area clear pt-35 flex-direction-column">
                                        <div class="add-to-cart text-uppercase mtb-5">
                                            <button><i class="fa fa-cart-plus"></i> thêm vào giỏ hàng</button>
                                        </div>
                                        <%= link_to '<i class="fa fa-eye"></i> xem chi tiết'.html_safe, product_link(product), class: 'locyen-btn mtb-5' %>
                                    </div>
                                </div>
                                <div class="product-item-details text-center">
                                    <div class="product-name-review tab-product-name-review">
                                        <div class="product-name mt-30 ">
                                            <span><%= link_to product.find_menu.name, menu_link(product.find_menu) %></span>
                                            <strong><%= link_to product.name, product_link(product) %></strong>
                                        </div>
                                        <div class="product-review">
                                            <% if false %>
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            <% end %>
                                            <span class="special-price"><%= format_price(product.price) %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>

                        <!-- <div class="single-product wow fadeInUp" data-wow-delay="0.9s">
                            <div class="product-img">
                                <a href="shop-single-product.html"><img src="/frontend/images/product/bo-qua-tang.jpg" alt="" /></a>
                                <span class="new">new</span>
                                <div class="product-info-overlay-area clear pt-35">
                                    <div class="add-to-cart text-uppercase">
                                        <button>mua hàng</button>
                                    </div>
                                    <a class="locyen-btn" href="#">chi tiết</a>
                                </div>
                            </div>
                            <div class="product-item-details text-center">
                                <div class="product-name-review tab-product-name-review">
                                    <div class="product-name mt-30 ">
                                        <span>Sample Category</span>
                                        <strong><a href="shop-single-product.html">Fusion Backpack</a></strong>
                                    </div>
                                    <div class="product-review">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span class="special-price">$ 55.00</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        
                        
                        <!-- <div class="single-product wow fadeInDown" data-wow-delay="0.9s">
                            <div class="product-img">
                                <a href="shop-single-product.html"><img src="/frontend/images/product/yen-chung-tuoi.jpg" alt="" /></a>
                                <span class="sale">Sale</span>
                                <div class="product-info-overlay-area clear pt-35">
                                    <div class="add-to-cart text-uppercase">
                                        <button>mua hàng</button>
                                    </div>
                                    <a class="locyen-btn" href="#">chi tiết</a>
                                </div>
                            </div>
                            <div class="product-item-details text-center">
                                <div class="product-name-review tab-product-name-review">
                                    <div class="product-name mt-30 ">
                                        <span>Sample Category</span>
                                        <strong><a href="shop-single-product.html">Joust Duffle Bag1</a></strong>
                                    </div>
                                    <div class="product-review">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span class="special-price">$ 40.00</span>
                                        <span class="old-price">
                                            <del>$ 44.00</del>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product wow fadeInUp" data-wow-delay="0.9s">
                            <div class="product-img">
                                <a href="shop-single-product.html"><img src="/frontend/images/product/bo-qua-tang.jpg" alt="" /></a>
                                <span class="new">new</span>
                                <div class="product-info-overlay-area clear pt-35">
                                    <div class="add-to-cart text-uppercase">
                                        <button>mua hàng</button>
                                    </div>
                                    <a class="locyen-btn" href="#">chi tiết</a>
                                </div>
                            </div>
                            <div class="product-item-details text-center">
                                <div class="product-name-review tab-product-name-review">
                                    <div class="product-name mt-30 ">
                                        <span>Sample Category</span>
                                        <strong><a href="shop-single-product.html">MH01-Black</a></strong>
                                    </div>
                                    <div class="product-review">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span class="special-price">$ 30.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product wow fadeInDown" data-wow-delay="0.9s">
                            <div class="product-img">
                                <a href="shop-single-product.html"><img src="/frontend/images/product/bo-qua-tang.jpg" alt="" /></a>
                                <span class="sale">Sale</span>
                                <div class="product-info-overlay-area clear pt-35">
                                    <div class="add-to-cart text-uppercase">
                                        <button>mua hàng</button>
                                    </div>
                                    <a class="locyen-btn" href="#">chi tiết</a>
                                </div>
                            </div>
                            <div class="product-item-details text-center">
                                <div class="product-name-review tab-product-name-review">
                                    <div class="product-name mt-30 ">
                                        <span>Sample Category</span>
                                        <strong><a href="shop-single-product.html">Rival Field Messenger</a></strong>
                                    </div>
                                    <div class="product-review">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span class="special-price">$ 45.00</span>
                                        <span class="old-price">
                                            <del>$ 46.00</del>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product wow fadeInUp" data-wow-delay="0.9s">
                            <div class="product-img">
                                <a href="shop-single-product.html"><img src="/frontend/images/product/bo-qua-tang.jpg" alt="" /></a>
                                <span class="new">new</span>
                                <div class="product-info-overlay-area clear pt-35">
                                    <div class="add-to-cart text-uppercase">
                                        <button>mua hàng</button>
                                    </div>
                                    <a class="locyen-btn" href="#">chi tiết</a>
                                </div>
                            </div>
                            <div class="product-item-details text-center">
                                <div class="product-name-review tab-product-name-review">
                                    <div class="product-name mt-30 ">
                                        <span>Sample Category</span>
                                        <strong><a href="shop-single-product.html">Strive Shoulder Pack</a></strong>
                                    </div>
                                    <div class="product-review">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span class="special-price">$ 45.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product wow fadeInDown" data-wow-delay="0.9s">
                            <div class="product-img">
                                <a href="shop-single-product.html"><img src="/frontend/images/product/bo-qua-tang.jpg" alt="" /></a>
                                <span class="sale">Sale</span>
                                <div class="product-info-overlay-area clear pt-35">
                                    <div class="add-to-cart text-uppercase">
                                        <button>mua hàng</button>
                                    </div>
                                    <a class="locyen-btn" href="#">chi tiết</a>
                                </div>
                            </div>
                            <div class="product-item-details text-center">
                                <div class="product-name-review tab-product-name-review">
                                    <div class="product-name mt-30 ">
                                        <span>Sample Category</span>
                                        <strong><a href="shop-single-product.html">Wayfarer Messenger Bag</a></strong>
                                    </div>
                                    <div class="product-review">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span class="special-price">$ 45.00</span>
                                        <span class="old-price">
                                            <del>$ 46.00</del>
                                        </span>
                                    </div>
                                </div>
                                <div class="add-to-cart-area clear pt-35">
                                    <div class="add-to-cart text-uppercase">
                                        <button>add to cart</button>
                                    </div>
                                    <div class="add-to-links">
                                        <ul>
                                            <li class="left">
                                                <a href="#"><i class="fa fa-adjust"></i></a>
                                            </li>
                                            <li class="right">
                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>								
                </div>
            <% end %>
            <!-- <div role="tabpanel" class="tab-pane fade" id="onsale">
                <div class="tab-active owl-carousel next-prev-style">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/8.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Chaz Kangeroo Hoodie1</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 50.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/11.jpg" alt="" /></a>
                            <span class="new">new</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Fusion Backpack</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 55.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/9.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Joust Duffle Bag1</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 40.00</span>
                                    <span class="old-price">
                                        <del>$ 44.00</del>
                                    </span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/8.jpg" alt="" /></a>
                            <span class="new">new</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">MH01-Black</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 30.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/6.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Rival Field Messenger</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 45.00</span>
                                    <span class="old-price">
                                        <del>$ 46.00</del>
                                    </span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/7.jpg" alt="" /></a>
                            <span class="new">new</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Strive Shoulder Pack</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 45.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/10.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Wayfarer Messenger Bag</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 45.00</span>
                                    <span class="old-price">
                                        <del>$ 46.00</del>
                                    </span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane owl-carousel fade" id="featured">
                <div class="tab-active next-prev-style">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/10.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Chaz Kangeroo Hoodie1</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 50.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/10.jpg" alt="" /></a>
                            <span class="new">new</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Fusion Backpack</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 55.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/9.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Joust Duffle Bag1</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 40.00</span>
                                    <span class="old-price">
                                        <del>$ 44.00</del>
                                    </span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/8.jpg" alt="" /></a>
                            <span class="new">new</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">MH01-Black</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 30.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/7.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Rival Field Messenger</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 45.00</span>
                                    <span class="old-price">
                                        <del>$ 46.00</del>
                                    </span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/6.jpg" alt="" /></a>
                            <span class="new">new</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Strive Shoulder Pack</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 45.00</span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-img">
                            <a href="shop-single-product.html"><img src="/frontend/img/product/11.jpg" alt="" /></a>
                            <span class="sale">Sale</span>
                        </div>
                        <div class="product-item-details text-center">
                            <div class="product-name-review tab-product-name-review">
                                <div class="product-name mt-30 ">
                                    <span>Sample Category</span>
                                    <strong><a href="shop-single-product.html">Wayfarer Messenger Bag</a></strong>
                                </div>
                                <div class="product-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="special-price">$ 45.00</span>
                                    <span class="old-price">
                                        <del>$ 46.00</del>
                                    </span>
                                </div>
                            </div>
                            <div class="add-to-cart-area clear pt-35">
                                <div class="add-to-cart text-uppercase">
                                    <button>add to cart</button>
                                </div>
                                <div class="add-to-links">
                                    <ul>
                                        <li class="left">
                                            <a href="#"><i class="fa fa-adjust"></i></a>
                                        </li>
                                        <li class="right">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>				
            </div> -->
        </div>
    </div>
</div>
<!-- tab area end  -->